<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('root.static', filename='icon.ico') }}">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - www.qldf.com</title>
    {% else %}
    <title>www.qldf.com</title>
    {% endif %}
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('digital_clock').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};
            return i;
        }
    </script>
</head>
<body onload="startTime()">
    <ul>
        {% for item in nav.main %}
            <li>
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
    {% from "macros.j2" import render_form %}
    {% if g.search_form %}
    {{ render_form(g.search_form) }}
    {% endif %}
    <br><hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li><div>{{ message }}<</div></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>{% block content %}{% endblock %}</div>
    <div><hr>© Daan Lubbers 2017. <a href="https://www.github.com/daan4/qldf">GitHub Repository</a>. Rendered by <a href="http://flask.pocoo.org/">Flask</a> in __EXECUTION_TIME__.<br/>
        Inspired by <a href="https://qlrace.com">qlrace.com</a>, <a href="https://q3df.org">q3df.org</a> and <a href="https://reflexrace.github.io">reflexrace.github.io</a> . </div>
</body>
</html>
