{% extends "base.j2" %}
{% block content %}
Recent Records
<table>
    <tr>
        <th>Map</th>
        <th>Player</th>
        <th>Mode</th>
        <th>Rank</th>
        <th>Time</th>
        <th>Date</th>
    </tr>
    {% for row in recent_records %}
    <tr>
        <td>{{ row.map_name | format_map_name }}</td>
        <td>{{ row.player_name | format_player_name(row.steam_id) }}</td>
        <td>{{ row.mode | format_record_mode }}</td>
        <td>{{ row.rank }}</td>
        <td>{{ row.time | format_record_time }}</td>
        <td>{{ row.date | format_record_date }}</td>
    </tr>
    {% endfor %}
</table>
Recent World Records
<table>
    <tr>
        <th>Map</th>
        <th>Player</th>
        <th>Mode</th>
        <th>Time</th>
        <th>Date</th>
    </tr>
    {% for row in recent_world_records %}
    <tr>
        <td>{{ row.map_name | format_map_name }}</td>
        <td>{{ row.player_name | format_player_name(row.steam_id) }}</td>
        <td>{{ row.mode | format_record_mode }}</td>
        <td>{{ row.time | format_record_time }}</td>
        <td>{{ row.date | format_record_date }}</td>
    </tr>
    {% endfor %}
</table>
Recent Maps
<table>
    <tr>
        <th>Map</th>
        <th>Date</th>
    </tr>
    {% for row in recent_maps %}
    <tr>
        <td>{{ row.name | format_map_name }}</td>
        <td>{{ row.date_created | format_record_date }}</td>
    </tr>
    {% endfor %}
</table>
Servers
{% endblock %}
