{% macro render_field(field) %}
    {% if field.name != 'csrf_token' %}
        <dt>{{ field.label }}
        <dd>{{ field(**kwargs) }}
        {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </dd>
    {% endif %}
{% endmacro %}

{% macro render_form(form) %}
    <form action="" method="post" name="{{ form.name }}">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
    </form>
{% endmacro %}
