# pycharm files
.idea/

# virtualenv
venv/

# configuration files with private data
config/website_config.py

# db migrations, except the configuration file
migrations/

# log files
logs/

# script temporary files
scripts/tmp/
