# pycharm files
.idea/

# virtualenv
venv/

# configuration files with private data
config/website_config.py

# db migrations, except the configuration file
migrations/*
!migrations/alembic.ini

# log files
logs/
