{% extends "base.html" %}
{% block content %}
    Maps
<table>
    <tr>
        <th>{{ 'Name' | format_sortable_table_header('map_name', sortdir, reverse_sortdir_on, page=pagination.page) }}</th>
        <th>{{ 'Records' | format_sortable_table_header('record_count', sortdir, reverse_sortdir_on, page=pagination.page) }}</th>
        <th>Steam Workshop URL</th>
    </tr>
    {% for row in pagination.items %}
    <tr>
        <td>{{ row.map_name | format_map_name }}</td>
        <td>{{ row.record_count }}</td>
        <td>{{ row.item_id | format_workshop_url }}</td>
    </tr>
    {% endfor %}
</table>
{% if pagination.has_prev %}<a href="{{ url_for('root.maps', page=pagination.prev_num) }}">&lt;&lt; Previous</a>
{% else %}&lt;&lt; Previous
{% endif %} |
{% if pagination.has_next %}<a href="{{ url_for('root.maps', page=pagination.next_num) }}">Next &gt;&gt;</a>
{% else %}Next &gt;&gt;
{% endif %}
{% endblock %}
