{% extends "base.html" %}
{% block content %}
{{ name }}<br/>
Records
<table>
    <tr>
        <th>{{ 'Map' | format_sortable_table_header('map_name', sortdir, reverse_sortdir_on, name=name, page=pagination.page, steam_id=steam_id) }}</th>
        <th>{{ 'Mode' | format_sortable_table_header('mode', sortdir, reverse_sortdir_on, name=name, page=pagination.page, steam_id=steam_id) }}</th>
        <th>{{ 'Rank' | format_sortable_table_header('rank', sortdir, reverse_sortdir_on, name=name, page=pagination.page, steam_id=steam_id) }}</th>
        <th>{{ 'Time' | format_sortable_table_header('time', sortdir, reverse_sortdir_on, name=name, page=pagination.page, steam_id=steam_id) }}</th>
        <th>{{ 'Date' | format_sortable_table_header('date', sortdir, reverse_sortdir_on, name=name, page=pagination.page, steam_id=steam_id) }}</th>
    </tr>
    {% for row in pagination.items %}
    <tr>
        <td>{{ row.map_name | format_map_name }}</td>
        <td>{{ row.mode | format_record_mode }}</td>
        <td>{{ row.rank }}</td>
        <td>{{ row.time | format_record_time }}</td>
        <td>{{ row.date | format_record_date }}</td>
    </tr>
    {% endfor %}
</table>
{% if pagination.has_prev %}<a href="{{ url_for('root.player', page=pagination.prev_num, name=name, steam_id=steam_id) }}">&lt;&lt; Previous</a>
{% else %}&lt;&lt; Previous
{% endif %} |
{% if pagination.has_next %}<a href="{{ url_for('root.player', page=pagination.next_num, name=name, steam_id=steam_id) }}">Next &gt;&gt;</a>
{% else %}Next &gt;&gt;
{% endif %}
{% endblock %}
