{% extends "base.html" %}
{% block content %}
Search results
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Steam Profile / Item url</th>
    </tr>
    {% for row in pagination.items %}
    <tr>
        <td>{{ row.type }}</td>
        {% if row.type == 'player' %}
        <td>{{ row.name | format_player_name(row.steam_id) }}</td>
        <td>{{ row.steam_id | format_profile_url }}</td>
        {% elif row.type == 'map' %}
        <td>{{ row.name | format_map_name }}</td>
        <td>{{ row.steam_id | format_workshop_url }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if pagination.has_prev %}<a href="{{ url_for('root.search', page=pagination.prev_num, search_string=search_string) }}">&lt;&lt; Previous</a>
{% else %}&lt;&lt; Previous
{% endif %} |
{% if pagination.has_next %}<a href="{{ url_for('root.search', page=pagination.next_num, search_string=search_string) }}">Next &gt;&gt;</a>
{% else %}Next &gt;&gt;
{% endif %}
{% endblock %}
